 <!-- covid-19 message -->
 <div class="bg-white text-center py-1 lg:px-4 covid">
    <a href="https://www.mygov.in/covid-19" target="_blank"><div class="p-2 warning items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
        <span class="flex rounded-full bg-white text-black uppercase px-2 py-1 text-xs font-bold mr-3">Covid-19</span>
        <span class="font-semibold mr-2 text-left flex-auto">We Hope Covid-19 End Soon Until. Stay Home & Stay Safe.</span>
        <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
        </svg>
    </div>
    </a>
</div>



<!-- navbar -->
<header class="text-white body-font nav">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a  href="/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <!-- images svg type -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
            <span class="ml-3 text-xl brand_name">VegiHub</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <!-- {{!-- <a href="/" class="mr-5 hover:text-white menu">Home</a>
        <a href="#" class="mr-5 hover:text-white menu">Who We Are</a>
        <a href="/html/product.html" class="mr-5 hover:text-white menu">Mandi</a>
        <a href="/html/gallary.html" class="mr-5 hover:text-white menu">Gallary</a> --}} -->
    
        <a href="/vegihub/login">
            <button class="inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0 login_btn">Register<b> / </b>Login
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24" id="arrow">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </a>
  
    </div>
</header>
