@font-face{
     font-family: brand; 
     src: url('/font/Winterlady.ttf'); 
    } 
    /* import font from google */ 
    @import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap'); .brand_name{ font-size: 1.3rem !important; font-family: brand; font-weight: 900; letter-spacing: 5px; } *{ padding: 0; margin: 0; box-sizing: border-box; } .menu:hover{ border: none; border-bottom: 3px solid; padding: 3px 10px 0px 10px; } /* svg */ body{ background-color: #f7fafc; background-attachment: fixed; background-size: cover; } .navbar{ box-shadow: 1px 2px 2px rgb(156, 156, 156); } nav a{ transition: .2s ease-in-out; } nav a:hover{ cursor: pointer; margin-top: -10px; } #join_input{ height: 42px; width: 66%; } /* covid */ .covid{ background: rgb(2,0,36); /* background: linear-gradient(90deg, rgb(55, 48, 199) 0%, rgb(51, 51, 161) 33%, rgba(80,103,207,1) 65%, rgb(29, 185, 216) 100%); */ background: linear-gradient(90deg, #4CAF50 0%, #13aa52 33%, #13aa52 65%, #4CAF50 100%);; } .warning{ background-color: #159c6a; } /* login page */ .wraper{ background-image: url(https://images.pexels.com/photos/1213859/pexels-photo-1213859.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); background-repeat: no-repeat; background-size: cover; height: 100vh; } #inner{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); } .login_form{ width: 400px; } .login_btn{ border: 1px solid #fff !important; } /* team */ .border_team{ height: 120px !important; width: 120px !important; border-radius: 500px; filter: grayscale(100); } .team{ height: 450px !important; transition: .1s ease-in; } .team:hover{ transform: translateY(-7px); border: 1px solid #00bcd4; } .up{ transition: .1s ease-in-out; } .up:hover{ color: #158eac; transform: translateY(-10px); } /* zoom effect */ .zoom{ transition: .2s ease-in; } .zoom:hover{ transform: scale(1.2); } /* navbar */ .nav{ background-image: linear-gradient(50deg,#51db63,#40b14f,#24c745); } /* animaiton on arrow */ #arrow{ transition: .1s ease-in; } #arrow:hover{ transform: translateX(10px); } .login_btn:hover #arrow{ transform: translateX(10px); } /* sldier */ .carousel-open:checked + .carousel-item { position: static; opacity: 100; } .carousel-item { -webkit-transition: opacity 0.6s ease-out; transition: opacity 0.6s ease-out; } #carousel-1:checked ~ .control-1, #carousel-2:checked ~ .control-2, #carousel-3:checked ~ .control-3 { display: block; } .carousel-indicators { list-style: none; margin: 0; padding: 0; position: absolute; bottom: 2%; left: 0; right: 0; text-align: center; z-index: 10; } #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet { color: #2b6cb0; /*Set to match the Tailwind colour you want the active one to be */ } .image_content1{ background-image: url(/images/tomatoes-carrots-and-radish-on-the-top-of-the-table-196643.jpg); background-repeat: no-repeat; background-size: cover; height: 100%; background-position: center; text-align: center; font-size: 2.4rem; display: flex; align-items: center; justify-content: center; color: aliceblue; font-weight: 100; } .image_content2{ background-image: url(/images/burger-and-vegetables-placed-on-brown-wood-surface-1565982.jpg); background-repeat: no-repeat; background-size: cover; height: 100%; background-position: center; text-align: center; font-size: 2.4rem; display: flex; align-items: center; justify-content: center; color: aliceblue; font-weight: 100; } .image_content3{ background-image: url(/images/two-white-garlics-928251.jpg); background-repeat: no-repeat; background-size: cover; height: 100%; background-position: center; text-align: center; font-size: 2.4rem; display: flex; align-items: center; justify-content: center; color: aliceblue; font-weight: 100; } .image_content1 p{ padding: 5px 20px; border-radius: 9px; background: #44963d78 } .image_content2 p{ margin: 0px 110px 25px; padding: 5px 20px; border-radius: 9px; background: #44963d78 } .image_content3 p{ padding: 5px 20px; border-radius: 9px; background: #44963d78 } .image_content1 p span{ font-size: 1rem; margin-left: 10px; font-family: cursive; } .image_content2 p span{ font-size: 1rem; margin-left: 10px; font-family: cursive; } .image_content3 p span{ font-size: 1rem; margin-left: 10px; font-family: cursive; } /* scroller */ #button { display: inline-block; background-color: #31ac25; width: 50px; height: 50px; text-align: center; border-radius: 40px; position: fixed; bottom: 30px; right: 30px; transition: background-color .3s,opacity .5s, visibility .5s; opacity: 0; visibility: hidden; z-index: 1000; } #button::after { content: "\f077"; font-family: FontAwesome; font-weight: normal; font-style: normal; font-size: 2em; line-height: 50px; color: #fff; } #button:hover { cursor: pointer; background-color: #333; } #button:active { background-color: #555; } #button.show { opacity: 1; visibility: visible; }
.images{
    background-size: 100%;
    background-origin: center;
}
        /*----------------------- Preloader -----------------------*/
        body {
            overflow: hidden;
          }
          
          
          /* Preloader */
          
          #preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(250, 250, 250);
            z-index: 99;
          }
          
          #status {
            width: 200px;
            height: 200px;
            position: absolute;
            left: 50%;
            top: 50%;
            background-image: url(/images/vegihubPreloader.gif);
            background-repeat: no-repeat;
            background-position: center;
            margin: -100px 0 0 -100px;
          }
          /* responsive */
          @media all and (max-width:600px){
            body{
              font-size: .7rem;
            }
            /* video player style */
            .video{
              width: 90%;
              height: 30vh;
              margin: 0px auto;
            }
          }
/* blogs about section */
.vegi_about{
  font-weight: 300;
  background: #ffffffa1;
  border: none;
  padding: 10px;
  border-left: 7px solid #FF9800;
}
/* bg color change */
.blog_wraper{
  background-color: #fff !important;
  height: auto;
}
.team-profile {
  border-radius: 2rem;
}


.mystic-gradient{
  background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.team-profile{
  transition: .17s ease-in;
}
.team-profile:hover .scale{
  transform: scale(1.2);
}

.team-profile:hover{
  transform: translateY(-6px);
}




/* signature */

/* For IndexPage */
/* ref: Tailwind */
/* Develope By Arun Singh on 9-June-2020 at 8:32 AM */